.text_green{
    color: #0A490A;
}
.border_0a4 {
    border: 1px solid #0A490A;
}
/* در جهت ارتفاع وسط چین می کند */
.p_h_center{
    position: absolute;
    top: 50%;
    /* transform: translatey(0.5); */
}

.top_55{
    top: 55%;
}

.h_50 {
    height: 50%;
}

.w_90 {
    width: 90%;
}

.p_6px {
    padding: 6px;
}

.left_0{
    left: 0;
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.d_flex{
    display: flex;
}

.flex_direction_row {
    flex-direction: row;
}

.align_items_center{
    align-items: center;
}

.justify_content_center{
    justify-content: center;
}

.flex_direction_column{
    flex-direction: column;
}

.justify_content_space{
    justify-content: space-around;
}

.over_flow_hidden {
    overflow: hidden;
}

.p_112{
    padding: .7rem;
}

.h_10 {
    height: 10%;
}

.w_70{
    width: 70%;
}

.w_25 {
    width: 25%;
}

.gap_1{
    gap: 0.5rem;
}
.gap_2{
    gap: 1rem;
}
.gap_3{
    gap:1.5rem ;
}

.gap_44 {
    gap: 2rem;
}

.gap_5 {
    gap: 2.5rem;
}

.gap_4 , .gap_8{
    gap: 4rem;
}

.border_none{
    border: none;
}

.justify_content_space_between{
    justify-content: space-between;
}

.text_decoration_overline {
    text-decoration: overline;
}

.rounded_1{
    border-radius: 0.5rem;
}
.rounded_2{
    border-radius: 1rem;
}
.rounded_3{
    border-radius: 1.5rem;
}
.rounded_4{
    border-radius: 2rem;
}

.bottom_-5{
    bottom: -2.5rem;
}

.w_100{
    width: 100%;
}

.h_100{
    height: 100%;
}

.w_15{
    width: 15%;
}

.w_20 {
    width: 20%;
}

.w_25{
    width: 25%;
}

.w_35{
    width: 35%;
}

.w_40{
    width: 40%;
}

.w_60{
    width: 60%;
}

.w_70{
    width: 70%;
}

.w_80{
    width: 80%;
}

.w_3{
    width: 1.5rem;
}

.h_10rem{
    height: 10rem;
}
.h_20rem{
    height: 20rem;
}
.h_30rem{
    height: 30rem;
}
.h_40rem{
    height: 40rem;
}

.border_green{
    border: 1px solid #0A490A;
}

.mt_1{
    margin-top: 0.5rem;
}
.mt_2{
    margin-top: 1rem !important;
}
.mt_3{
    margin-top: 1.5rem;
}
.mt_4{
    margin-top: 2rem !important;
}

.p_1{
    padding: 0.5rem;
}
.p_2{
    padding: 1rem;
}
.p_3{
    padding: 1.5rem;
}
.p_4{
    padding: 2rem;
}

.top_0{
    top: 0;
}

.left_0{
    left: 0;
}

.right_0{
    right: 0;
}

.bottom_0{
    bottom: 0;
}

.text_center{
    text-align: center;
}

.right_1{
    right: .5rem;
}

.right_2{
    right: 1rem;
}

.right_3{
    right: 1.5rem;
}

.right_4{
    right: 2rem;
}

.left_1{
    left: .5rem;
}

.left_2{
    left: 1rem;
}

.top_1{
    top: .5rem;
}

.pointer{
    cursor: pointer;
}

.text_1{
    font-size: .7rem;
}

.text_2{
    font-size: 1rem;
}
.text_3{
    font-size: 1.5rem;
}
.text_4{
    font-size: 2rem;
}


.h_50{
    height: 50%;
}

.white_color{
    color: white !important;
}

.border_white{
    border:1px solid #ffffff;
}

.border_black{
    border: 1px solid black;
}

.bg_transparent{
    background-color:transparent;
}

.mb_1rem{
    margin-bottom: 1re,;
}

.top_2{
    top: 1rem;
}

.left_6rem{
    left: 6rem;
}
.left_-1{
    left: -1rem;
}

.right_-1{
    right: -1rem;
}

.bg_orange{
    background-color: #E46002;
}
.bg_yellow2{
    background-color: #FCC601;
}
.bg_green3{
    background-color: #327613;
}
.bg_pink{
    background-color: #EF174B;
}

.bg_10B {
    background-color: #10b981;
}

.bg_0

.left_15rem{
    left: 15rem;
}

.text_yellow{
    color: rgb(255, 175, 2);
}

.text_ffc{
    color: #FFC107;
}

.text_justify{
    text-align: justify;
}

.p_inline_3{
    padding-inline: 3rem;
}

.w_75 {
    width: 75%;
}

.w_1 {
    width: .5rem;
}

.w_2 {
    width: 1rem;
}

.w_3 {
    width: 1.5rem;
}

.w_4 {
    width: 2rem;
}

.w_5 {
    width: 2.5rem;
}

.w_6 {
    width: 3rem;
}

.w_7 {
    width:3.5rem;
}

.w_33{
    width: 33%;
}

.bg_white{
    background-color: #ffffff;
}

.border_1{
    border: 1px;
}

.p_absolute {
    position: absolute;
}

.text_bluedark {
    color: #1B1C57;
}

.flex_wrap {
    flex-wrap: wrap;
}

.ml_1{
    margin-left: .5rem;
}
.ml_2{
    margin-left: 1rem;
}

.mt_5 {
    margin-top: 2.5rem;
}

.mt_6 {
    margin-top: 3rem;
}

.mt_7 {
    margin-top: 3.5rem;
}

.mt_8 {
    margin-top: 4rem;
}

.mt_9 {
    margin-top: 4.5;
}

.mt_10 {
    margin-top: 5rem;
}

.w_3{
    width: 1.5rem;
}

.text_white{
    color: #ffffff;
}

.text_black {
    color: black;
}

.line_height_2{
    line-height: 2;
}

.text_decoration_none{
    text-decoration: none;
}

.w_23{
    width: 23%;
}

.w_30 {
    width: 30%;
}

.mt_8px{
    margin-top: .5rem;
}

.font_style_italic{
    font-style: italic;
}

.p_static {
    position: static;
} 

.w_55 {
    width: 55%;
}

.text_inherit {
    font-family: inherit;
}

.z_index-1{
    z-index: -1;
}

.z_index_1 {
    z-index: 1;
}

.z_index_-1{
    z-index: -1;
}
.text_decoration_none{
    text-decoration: none;
}
.list_style_none{
    list-style: none;
}

.text_blue{
    color: #1B1C57;
}

.text_blod{
    font-weight: bold;
}

.text_gray_dark {
    color: #3C4563;
}

.w_45 {
    width: 45%;
}

.mt_1{
    margin-top: .5rem;}

.mt_2{
    margin-top: 1rem;
}

.mt_3 {
    margin-top: 1.5rem;
}

.ml_4{
    margin-left: 2rem;
}

.mr_6 {
    margin-right: 3rem;
}

.mr_10 {
    margin-right: 5rem;
}

.vertical_align_top{
    vertical-align: top;
}

.left_3{
    left: 1.5rem;
}

.p_inline_2 {
    padding-inline: 2rem;
}
.p_inline_1 {
    padding-inline: 1rem;
}

.text_black{
    color: black !important;
}

.w_50 {
    width: 50%;
}

.text_1B1 {
    color: #1B1C57;
}

.text_gray {
    color: #626687;
}

.rounded_4 {
    border-radius: 4rem;
}

.line_height_4 {
    line-height: 4;
}

.border_gray {
    border: 1px solid #d9d4d4;
}

.text_orange {
    color: #F59E0B;
}

.bg_green {
    background-color: #10B981;
}

.bottom_1 {
    bottom: .5rem;
}

.bottom_2 {
    bottom: 1rem;
}

.bottom_3 {
    bottom: 1.5rem;
}

.rounded_100 {
    border-radius: 100px;
}

.over_flow_x_hidden {
    overflow-x: hidden;
}

.justify_content_space_around{
    justify-content: space-around;
}

.justify_content_space_evenly {
    justify-content: space-evenly;
}

.left_4 {
    left: 2rem;
}

.top_50 {
    top: 50%;
}

.h_70 {
    height: 70%;
}

.h_1{
    height: .5rem;
}

.h_2 {
    height: 1rem;
}

.h_3 {
    height: 1.5rem;
}

.h_4 {
    height: 2rem;
}

.h_5 {
    height: 2.5rem;
}

.h_6 {
    height: 3rem;
}

.d_inline_block {
    display: inline-block;
}

.p_fixed {
    position: fixed;
}

.word_spacing_initial {
    word-spacing: initial;
}

.top_3 {
    top: 1.5rem;
}

.bottom_5 {
    bottom: 2.5rem;
}

.left_16 {
    left: 8rem;
}

.right_12 {
    right: 6rem;
}

.right_20 {
    right: 10rem;
}

.top_5 {
    top: 2.5rem;
}

.text_blue_dark {
    color: #0E1735;
}

.w_48 {
    width: 48%;
}

.white_border {
    border:1px solid white;
}

.text_0a4{
    color: #0A490A;
}

.bg_0a4{
    background-color: #0A490A;
}

.text_0a4 {
    color: #0A490A;
}

.bg_b4c{
    background-color: #B4C8B1;
}

.h_15 {
    height: 15%;
}

.bg_yellow {
    background-color: #FFC107;
}

.margin_auto {
    margin: auto;
}

.object_fit_cover {
    object-fit: cover;
}

.right_5 {
    right: 2.5rem;
}

.scroll_behavior_smooth {
    scroll-behavior:smooth;
}

.text_align_center {
    text-align: center;
}

.text_align_justify {
    text-align: justify;
}