* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(12, 11, 11);
}

.modal {
    opacity: 0;
    visibility: hidden;
    min-width: 300px;
    max-width: 80%;
    width: 100vw;
    background-color: rgba(29, 30, 31, 0.541);
    border-radius: 5px;
    transition: all 1s;
    position: fixed;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.253);
}