* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(12, 11, 11);
}

.modal {
    opacity: 0;
    visibility: hidden;
    min-width: 300px;
    max-width: 80%;
    width: 100vw;
    background-color: rgba(29, 30, 31, 0.541);
    border: 1px solid red;
    border-radius: 5px;
    transition: all 1s;
    position: fixed;
    top: 12%;
    right: 12%;
    padding: 1.5rem;
    z-index: 10;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.253);
    z-index: 9;
}

.information label {
    color: azure;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
}

.modal strong,
.modal p {
    color: #B6B7FF;
    /* font-weight: bold; */
}
.modal strong {
    color: #e73131;
}

/* Main styles */
main {
    flex: 1;
    /* background: radial-gradient(circle at top left, red , black); */
    background: radial-gradient(circle at top left, #ff1800,#120a2d , black);
    align-items: center;
    display: flex;
}

.nameBox h1 {
    font-size: 3rem;
}

.nameBox h2 ,
.nameBox h1 {
    color: #16f2b4;
    text-shadow: 0 0 10px #c81313;   
}

.btn {
    color: #800a02;
    background: #e6c984;
    transition: all .5s;
}

.btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgb(255, 60, 0) inset;
}

.aboutBox {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(29, 30, 31, 0.541);
    border: 1px solid red;
}

#about:target {
    opacity: 1;
    visibility: visible;
}