* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: rgb(244, 8, 201);
    background: linear-gradient(to right, rgb(242, 0, 255), rgb(255, 0, 81));
    padding: 1rem 1rem;
}

.desctopMenu {
    gap: 2rem;
}

.mobileMenu {
    background-color: rgba(0, 255, 200, 0.308);
}

summary {
    color: #0d0191;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 1s;
}

a:hover {
    color: rgb(40, 11, 67);
}

a:focus {
    color: rgb(0, 6, 8);
}

main {
    width: 100%;
    background: linear-gradient(to right, rgb(238, 255, 0), rgb(0, 247, 255));
    flex: 1;
    font-style: italic;
}

.tabloBox {
    width: 30%;
    height: 25rem;
    border-radius: 1rem;
    border: 1px groove rgb(3, 35, 31);
    text-align: center;
    transition: all .4s;
}

.tabloBox:hover {
    transform: scale(1.1);
    box-shadow: 20px green 0 0;
}

.title {
    font-size: 2rem;
    line-height: 2;
    text-decoration: dashed;
    background: linear-gradient(to right, rgb(113, 152, 127), rgb(1, 44, 33));
    background-clip: text;
    color: transparent;
}

.tabloImg {
    width: 100%;
    height: 57%;
    padding: .3rem;
    border-radius: 1rem;
}

.titleBox {
    font-size: 1.5rem;
    background: linear-gradient(to right, rgb(113, 152, 127), rgb(1, 44, 33));
    background-clip: text;
    color: transparent;
    margin-top: 8px;
}

.sellBox {
    color: rgb(3, 35, 31);
    margin-top: 8px;
}

.tabloBtn {
    border: none;
    background-color: rgb(243, 81, 219);
    width: 60%;
    color: rgb(3, 35, 31);
    text-align: center;
    margin-top: 3rem;
    border-radius: 1.3rem;
    padding: .5rem;
    font-style: inherit;
    transition: all .3s;
    cursor:cell;
}

.tabloBtn:hover {
    transform: translateX(1rem);
}

.tabloBtn:focus {
    box-shadow: 0px 0 1rem #00b7ff;
}

footer {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    background: linear-gradient(to right, rgb(242, 0, 255), rgb(255, 0, 81));
    padding: 4px 0px;
    color: rgb(40, 11, 67);
    font-style: italic;
}

/* other styles */

.d_desktop_none {
    display: none;
}

/* mobil display styles */

@media (max-width: 468px) {
    .d_flex {
        flex-wrap: wrap;
    }

    .tabloBox {
        width: 100%;
    }

    .d_mobil_none {
        display: none;
    }

    .d_desktop_none {
        display: block;
    }
}